@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carrito</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>

    @{
        int i = 0;
        double total = 0;
    }

    @foreach (var p in ViewBag.Carritos)
    {
        double precio = Convert.ToDouble(p[4]);
        total += precio;

        <tr>
            <td>@p[0]</td>
            <td>@p[1]</td>
            <td>@p[2]</td>
            <td>@p[3]</td>
            <td>@p[4]</td>

            <td>
                <form action="/Home/EliminarCarrito" method="post">
                    <input type="hidden" name="indice" value="@i" />
                    <button type="submit">Quitar del Carrito</button>
                </form>
            </td>
        </tr>

        i++;
    }

</table>

<h2>Total: $@total</h2>